<body>
    <h1>hey hi</h1>
    <%= flash[:alert] %>
    <%= form_tag '/sendtest', method: 'post' do %>
    <input type="submit">
    <% end %>
    
    <%= link_to "등록", controller: "enroll", action: "register" %>
    <%= link_to "비디오", controller: "video", action: "index" %>
    <%= link_to "언론활동", controller: "news", action: "newsindex" %>
    <%= link_to "블로그", controller: "news", action: "blogindex" %>
    
    


</body>