<head>
  <nav>
    <div class="nav-wrapper cyan darken-1">
      <div class="col s12">
        <a href="#!" class="breadcrumb" style="padding-left:10px;">Sudo</a>
        <a href="/admin" class="breadcrumb">AdminPanel</a>
      </div>
    </div>
  </nav>
</head>

<style>
    .btn-shitlarge{
        width: 200px;
        height: 200px;
    }
    #panel{
        text-align:center;
    }
    #make_black{
        color: black;
    }
    #header_pad{
        padding-left:20px;
    }
</style>

<body>
    <div class="row container">
        <div class="col s6">
            <ul class="collection">
                <li class="collection-header" id="header_pad"><h4>기존 DB</h4></li>
                <li class="collection-item"></li>
                
                <a class="collection-item avatar" id="make_black" href="/admin/prev_list">
                  <i class="material-icons circle blue">contacts</i>
                  <span class="title">기존 DB 조회</span>
                  
                  <p>총 <%=@mem%>명
                  </p>
                </a>
                
                <a class="collection-item avatar" id="make_black" href="/admin/register">
                  <i class="material-icons circle green">playlist_add</i>
                  <span class="title">기존 DB 등록</span>
                  
                  <p>관리 DB 등록
                  </p>
                </a>
                
                <a class="collection-item avatar" id="make_black" href="/admin/publicity">
                  <i class="material-icons circle red">cloud</i>
                  <span class="title">기존 DB 홍보</span>
                  
                  <p>기존 DB 문자, 카카오톡 전송
                  </p>
                </a>
                
                <a class="collection-item avatar" id="make_black" href="/admin/statistics/member">
                  <i class="material-icons circle">insert_chart</i>
                  <span class="title">기존 DB 분석</span>
                  
                  <p>기존 DB 통계
                  </p>
                </a>
            </ul>
        </div>
    
        <div class="col s6">
            <ul class="collection">
                <li class="collection-header" id="header_pad"><h4>가입자</h4></li>
                <li class="collection-item"></li>
                
                <a class="collection-item avatar" id="make_black" href="/admin/session_list">
                  <i class="material-icons circle blue">stars</i>
                  <span class="title">가입자 현황</span>
                  
                  <p>총 <%=@usr%>명
                  </p>
                </a>
                
                <a class="collection-item avatar" id="make_black" href="/admin/publicity_new">
                  <i class="material-icons circle green">cloud</i>
                  <span class="title">가입자 홍보</span>
                  
                  <p>가입자 문자, 카카오톡 전송
                  </p>
                </a>
                
                <a class="collection-item avatar" id="make_black" href="/admin/publicity">
                  <i class="material-icons circle red">assignment_ind</i>
                  <span class="title">지인초대 현황</span>
                  
                  <p>지인 초대 DB 조회
                  </p>
                </a>
                
                <a class="collection-item avatar" id="make_black" href="/admin/publicity/history">
                  <i class="material-icons circle">assignment_ind</i>
                  <span class="title">가입자 홍보 기록</span>
                  
                  <p>총 <%=@pub%>건
                  </p>
                </a>
            </ul>
        </div>
    </div>
    
    <div class="row container">
        <div class="col s6">
            <ul class="collection">
                <li class="collection-header" id="header_pad"><h4>게시물 관리</h4></li>
                <li class="collection-item"></li>
                
                <a class="collection-item avatar" id="make_black" href="/admin/video">
                  <i class="material-icons circle blue">cloud</i>
                  <span class="title">영상 등록</span>
                  
                  <p>총 <%=@vid%>건
                  </p>
                </a>
                
                <a class="collection-item avatar" id="make_black" href="/admin/news">
                  <i class="material-icons circle green">stars</i>
                  <span class="title">뉴스 등록</span>
                  
                  <p>총 <%=@new%>건
                  </p>
                </a>
                
                <a class="collection-item avatar" id="make_black" href="/admin/statistics/post">
                  <i class="material-icons circle red">insert_chart</i>
                  <span class="title">게시물 분석</span>
                  
                  <p>게시물 DB 통계
                  </p>
                </a>
            </ul>
        </div>
    
        <div class="col s6">
            <ul class="collection">
                <li class="collection-header" id="header_pad"><h4>관리자</h4></li>
                <li class="collection-item"></li>
                
                <a class="collection-item avatar" id="make_black" href="/admin/admin_list">
                  <i class="material-icons circle blue">cloud</i>
                  <span class="title">관리자 현황</span>
                  
                  <p>총 <%=@adm%>명
                  </p>
                </a>
                
                <a class="collection-item avatar" id="make_black" href="/admin/admin_enrollment">
                  <i class="material-icons circle green">stars</i>
                  <span class="title">관리자 등록</span>
                  
                  <p>이메일 주소로 등록
                  </p>
                </a>
            </ul>
        </div>
    </div>
</body>