<style>
    .btn-shitlarge{
        width: 200px;
        height: 200px;
    }
    #panel{
        text-align:center;
    }
    #make_black{
        color: black;
    }
    #header_pad{
        padding-left:20px;
    }
</style>

<head>
  <nav>
    <div class="nav-wrapper cyan darken-1">
      <div class="col s12">
        <a href="#!" class="breadcrumb" style="padding-left:10px;">Sudo</a>
        <a href="/admin" class="breadcrumb">AdminPanel</a>
        <a href="/admin/publicity" class="breadcrumb">Publicity</a>
      </div>
    </div>
  </nav>
</head>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<body>
    <div class="row">
    </div>
    
    
    
    <div class="row container">
        <div class="col s3">
            <ul class="collection">
                <li class="collection-header" id="header_pad">
                    <h4>거주동</h4>
                    <div class="switch">
                        <a>전체 </a>
                        <label>
                          Off
                          <input type="checkbox">
                          <span class="lever"></span>
                          On
                        </label>
                    </div>
                </li>
                <li class="collection-item"></li>
                
                <form action="#">
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box1" />
                      <label for="filled-in-box1">원미(을)</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box2" />
                      <label for="filled-in-box2">원미(갑)</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box3" />
                      <label for="filled-in-box3">오정</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box4" />
                      <label for="filled-in-box4">소사</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box5" />
                      <label for="filled-in-box5">기타</label>
                    </li>
                </form>
            </ul>
        </div>
        <div class="col s3">
            <ul class="collection">
                <li class="collection-header" id="header_pad">
                    <h4>선거구</h4>
                    <div class="switch">
                        <a>전체 </a>
                        <label>
                          Off
                          <input type="checkbox">
                          <span class="lever"></span>
                          On
                        </label>
                    </div>
                </li>
                <li class="collection-item"></li>
                
                <form action="#">
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box6" />
                      <label for="filled-in-box6">원미(을)</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box7" />
                      <label for="filled-in-box7">원미(갑)</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box8" />
                      <label for="filled-in-box8">오정</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box9" />
                      <label for="filled-in-box9">소사</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box10" />
                      <label for="filled-in-box10">기타</label>
                    </li>
                </form>
            </ul>
        </div>
        
        <div class="col s3">
            <ul class="collection">
                <li class="collection-header" id="header_pad">
                    <h4>연령대</h4>
                    <div class="switch">
                        <a>전체 </a>
                        <label>
                          Off
                          <input type="checkbox">
                          <span class="lever"></span>
                          On
                        </label>
                    </div>
                </li>
                <li class="collection-item"></li>
                
                <form action="#">
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box11" />
                      <label for="filled-in-box11">10대</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box12" />
                      <label for="filled-in-box12">20대</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box13" />
                      <label for="filled-in-box13">30대</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box14" />
                      <label for="filled-in-box14">40대</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box15" />
                      <label for="filled-in-box15">50대</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box16" />
                      <label for="filled-in-box16">60대</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box17" />
                      <label for="filled-in-box17">70대</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box18" />
                      <label for="filled-in-box18">80대</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box19" />
                      <label for="filled-in-box19">90대</label>
                    </li>
                    <li class="collection-item">
                      <input type="checkbox" class="filled-in" id="filled-in-box20" />
                      <label for="filled-in-box20">기타</label>
                    </li>
                </form>
            </ul>
        </div>
        
    </div>
    
    <div class="input-field col s12">
        <select>
          <option value="" disabled selected>전체</option>
          <option value="1">전체</option>
          <option value="2">원미(을)</option>
          <option value="3">원미(갑)</option>
          <option value="4">오정</option>
          <option value="5">소사</option>
        </select>
        <label>선거구</label>
    </div>
    
    
    <table border="1" summary="리스트">
        <caption>리스트</caption>
        <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">휴대폰</th>
                <th scope="col">거주동</th>
                <th scope="col">선거구</th>
                <th scope="col">지지분류</th>
                <th scope="col">연령대</th>
                <th scope="col">성별</th>
                <th scope="col">인지도</th>
                <th scope="col">의정평가</th>
                <th scope="col">재지지 의향</th>
                <th scope="col">국정지지도</th>
                <th scope="col">정당지지도</th>
                <th scope="col">경기지사</th>
                <th scope="col">직업</th>
                <th scope="col">직책</th>
                <th scope="col">일반번호</th>
                <th scope="col">직장번호</th>
                <th scope="col">이메일</th>
                <th scope="col">추천인</th>
                <th scope="col">출신지역</th>
                <th scope="col">생년월일</th>
                <th scope="col">당비당원분류</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4">hbk</td>
            </tr>
        </tfoot>
        <tbody>
            <% @member.each do |member| %>
                <tr>
                    <th scope="row"><%= member.name %></th>
                    <td><%= member.phone %></td>
                    <% if member.residence==1 %>
                        <td>상동</td>
                    <% elsif member.residence==2 %>
                        <td>상 1동</td>
                    <% elsif member.residence==3 %>
                        <td>상 2동</td>
                    <% elsif member.residence==4 %>
                        <td>상 3동</td>
                    <% elsif member.residence==5 %>
                        <td>중동</td>
                    <% elsif member.residence==6 %>
                        <td>중 1동</td>
                    <% elsif member.residence==7 %>
                        <td>중 2동</td>
                    <% elsif member.residence==8 %>
                        <td>중 3동</td>
                    <% elsif member.residence==9 %>
                        <td>중 4동</td>
                    <% elsif member.residence==10 %>
                        <td>약대동</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    
                    <% if member.elec_constit==1 %>
                        <td>원미(을)</td>
                    <% elsif member.elec_constit==2 %>
                        <td>원미(갑)</td>
                    <% elsif member.elec_constit==3 %>
                        <td>오정</td>
                    <% elsif member.elec_constit==4 %>
                        <td>소사</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    
                    <% if member.support_ide==1 %>
                        <td>진보</td>
                    <% elsif member.support_ide==2 %>
                        <td>중도</td>
                    <% elsif member.support_ide==3 %>
                        <td>보수</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    
                    <td><%= member.age %></td>
                    
                    <% if member.sex==1 %>
                        <td>남</td>
                    <% elsif member.sex==2 %>
                        <td>여</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    
                    <% if member.recog==1 %>
                        <td>안다</td>
                    <% elsif member.recog==2 %>
                        <td>모른다</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    
                    
                    <% if member.par_eval==1 %>
                        <td>잘한다</td>
                    <% elsif member.par_eval==2 %>
                        <td>보통</td>
                    <% elsif member.par_eval==3 %>
                        <td>못한다</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    
                    <% if member.support_re==1 %>
                        <td>있다</td>
                    <% elsif member.support_re==2 %>
                        <td>고민</td>
                    <% elsif member.support_re==3 %>
                        <td>없다</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    
                    <% if member.support_gov==1 %>
                        <td>잘한다</td>
                    <% elsif member.support_gov==2 %>
                        <td>보통</td>
                    <% elsif member.support_gov==3 %>
                        <td>못한다</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    
                    <% if member.support_party==1 %>
                        <td>더민주</td>
                    <% elsif member.support_party==2 %>
                        <td>새누리</td>
                    <% elsif member.support_party==3 %>
                        <td>국민</td>
                    <% elsif member.support_party==4 %>
                        <td>바른</td>
                    <% elsif member.support_party==5 %>
                        <td>정의</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                        
                    <% if member.governer==1 %>
                        <td>남경필</td>
                    <% elsif member.governer==2 %>
                        <td>김진표</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    
                    <td><%= member.job %></td>
                    <td><%= member.position %></td>
                    <td><%= member.homenum %></td>
                    <td><%= member.compnum %></td>
                    <td><%= member.email %></td>
                    <td><%= member.recommender %></td>
                    <td><%= member.native %></td>
                    <td><%= member.birth %></td>
                    
                    <% if member.partyfee==1 %>
                        <td>O</td>
                    <% elsif member.partyfee==2 %>
                        <td>X</td>
                    <% else %>
                        <td> </td>
                    <% end %>
                    
                </tr>
            <% end %>
        </tbody>
    </table>
</body>