
<style>
  #but_sign{
    width:100%;
    height:50px;
    font-size:30px;
    vertical-align:middle;
  }
</style>

<head>
  <nav>
    <div class="nav-wrapper cyan darken-1">
      <div class="col s12">
        <a href="#!" class="breadcrumb" style="padding-left:10px;">Sudo</a>
        <a href="/admin" class="breadcrumb">AdminPanel</a>
        <a href="/admin/publicity_new" class="breadcrumb">PublicityNew</a>
      </div>
    </div>
  </nav>
</head>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<%= form_tag '/admin/publicity_new/sendtext', method: 'post' do %>
    <div class="row container">
      <div class="input-field">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="icon_prefix2" class="materialize-textarea" type="text" name="script"></textarea>
        <label for="icon_prefix2">문자 내용</label>
      </div>
        
      <input type="hidden" name="sender" value="<%=current_user.id%>">
    </div>
    <div class="row container ">
      <div class="col s6">
        <input class="waves-effect waves-light btn" id="but_sign" type="submit" value="문자 전송">
      </div>
    </div>
<% end %>

<table border="1" summary="리스트">
    <caption>리스트</caption>
    <thead>
        <tr>
            <th scope="col">이름</th>
            <th scope="col">직책</th>
            <th scope="col">전화번호</th>
            <th scope="col">이메일</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">hbk</td>
        </tr>
    </tfoot>
    <tbody>
        <% @session.each do |session| %>
            <tr>
                <th scope="row"><%= session.name %></th>
                <td><%= session.job %></td>
                <td><%= session.phone %></td>
                <td><%= session.email %></td>
            </tr>
        <% end %>
    </tbody>
</table>