<head>
  <nav>
    <div class="nav-wrapper cyan darken-1">
      <div class="col s12">
        <a href="#!" class="breadcrumb">Sudo</a>
        <a href="/admin" class="breadcrumb">AdminPanel</a>
        <a href="/admin/publicity_new" class="breadcrumb">PublicityNew</a>
      </div>
    </div>
  </nav>
</head>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

<%= form_tag '/admin/publicity/sendtext', method: 'post' do %>
    <p>내용</p><input type="text" name="script"><br>
    <input type="submit">
<% end %>

<table border="1" summary="리스트">
    <caption>리스트</caption>
    <thead>
        <tr>
            <th scope="col">이름</th>
            <th scope="col">직책</th>
            <th scope="col">전화번호</th>
            <th scope="col">이메일</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">hbk</td>
        </tr>
    </tfoot>
    <tbody>
        <% @session.each do |session| %>
            <tr>
                <th scope="row"><%= session.name %></th>
                <td><%= session.job %></td>
                <td><%= session.phone %></td>
                <td><%= session.email %></td>
            </tr>
        <% end %>
    </tbody>
</table>