<head>
</head>
<body>
  <% @video.each_with_index do |video,i| %>
    <a href="/video/player?id=<%=video.id%>">
      <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
              <img src="http://img.youtube.com/vi/<%=video.videoid%>/1.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h5><%=video.title%></h5>
                    <p><%=video.subtitle%></p>
                </div>
                <div class="card-action">
                    <i><%=video.created_at%></i>
                </div>
            </div>
        </div>
      </div>
    </a>
  <% end %>
  <%= will_paginate @video %>
  
  <div id="pagination-long">
    <ul class="pagination">
      <li class="left"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      
      <li class="active"><a href="/video/index?page=1">1</a></li>
      <li class="waves-effect"><a href="/video/index?page=2">2</a></li>
      <li class="waves-effect"><a href="/video/index?page=3">3</a></li>
      <li class="waves-effect"><a href="/video/index?page=4">4</a></li>
      <li class="waves-effect"><a href="/video/index?page=5">5</a></li>
      
      <li class="right"><a href="/video/index?page=2"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>
  <script>
    
    $(function() {
        $('#pagination-long').materializePagination({
            useUrlParameter: false,
            align: 'center',
            lastPage: 100,
        });
        $('#pagination-short').materializePagination({
            useUrlParameter: false,
            align: 'center',
            lastPage: 3,
        });
		  $('#pagination-middle').materializePagination({
            useUrlParameter: false,
            align: 'center',
            lastPage: 50,
        });
    });

  </script>
  <script src="materialize-pagination.min.js"></script>
</body>