<style>
    strong{
        font-weight:bold;
        font-size:16pt;
        line-height:normal;
    }
    strong_sub{
        font-weight:bold;
        font-size:13pt;
        line-height:normal;
    }
</style>

<head>
  <nav>
    <div class="nav-wrapper red darken-1">
        <div class="col s2">
        </div>
        <div class="col s10">
            <a href="/blog/index" class="breadcrumb" style="padding-left:10px;"><strong_sub>영상</strong_sub></a>
        </div>
    </div>
  </nav>
</head>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <% @video.each_with_index do |video,i| %>
    <a href="/video/player?id=<%=video.id%>">
      <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image" style="width:38%;">
              <img src="http://img.youtube.com/vi/<%=video.videoid%>/1.jpg" style="width:100%;">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                      <h6><strong><%=video.title%></strong></h6>
                </div>
                <div class="card-action">
                    <div style='width:190px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;'><nobr><%=video.subtitle%></nobr></div>
                </div>
            </div>
        </div>
      </div>
    </a>
  <% end %>
  
  <%= will_paginate @video %>
  <!--
    <ul class="pagination">
      <li class="left"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      
      <li class="active"><a href="/video/index?page=1">1</a></li>
      <li class="waves-effect"><a href="/video/index?page=2">2</a></li>
      <li class="waves-effect"><a href="/video/index?page=3">3</a></li>
      <li class="waves-effect"><a href="/video/index?page=4">4</a></li>
      <li class="waves-effect"><a href="/video/index?page=5">5</a></li>
      
      <li class="right"><a href="/video/index?page=2"><i class="material-icons">chevron_right</i></a></li>
    </ul>
    -->
</body>