<style>
    strong{
        font-weight:bold;
        font-size:16pt;
        line-height:normal;
    }
</style>
<body>
    
    <% @news.each_with_index do |news,i| %>
        <a href="/news/article?id=<%=news.id%>">
          <div class="col s12 m7">
            <div class="card horizontal" style="color:black;">
                <div class="card-image">
                  <img src="<%=news.imgurl%>">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h6><strong><%=news.title%></strong></h6>
                    </div>
                    <div class="card-action">
                        <div style='width:200px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;'><nobr><%=news.subtitle%></nobr></div>
                    </div>
                </div>
            </div>
          </div>
        </a>
    <% end %>
      
    <%= will_paginate @video %>
</body>