<body>
    <div class="row">
        <div class="col s12">
            <div class="card-panel teal">
                <span class="white-text">국회의원 설훈의 만만한 블로그.
                </span>
                <br>
                <span class="white-text">놀러오세요~
                </span>
                <br>
                <span class="orange-text">
                    <a href="http://blog.naver.com/sulhoon21">블로그 가기</a>
                </span>
            </div>
        </div>
    </div>
    
    <% @news.each_with_index do |news,i| %>
        <a href="/news/article?id=<%=news.id%>">
          <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image">
                  <img src="<%=news.imgurl%>">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5><%=news.title%></h5>
                        <p><%=news.subtitle%></p>
                    </div>
                    <div class="card-action">
                        <i><%=news.posted%></i>
                    </div>
                </div>
            </div>
          </div>
        </a>
    <% end %>
      
    <%= will_paginate @video %>
</body>