<!DOCTYPE html>
<html>
  <style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  </style>
    
  <head>
    <title>설훈 의원실</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- NAV AND SIDENAV -->
    <!-- NAV -->
    <nav class="indigo darken-1">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %><!-- 관리자만의 탭 입력 -->
            <% if current_user.admin %>
              <li><a href=""><%= current_user.name %> <%= current_user.job %> 님</a></li>
              <li><%= link_to 'Admin', admin_path %></li>
            <% else %>
              <li><a href=""><%= current_user.name %> 님</a></li>
            <% end %>
            <li class="item"><%= link_to 'Sign Out', session_path(current_user), method: 'delete' %></li>  <!--     session DELETE /sessions/:id(.:format) sessions#destroy -->
          <% else %>
            <li class="item"><%= link_to 'Sign In', new_session_path %></li>
            <li class="item"><%= link_to 'Sign Up', new_user_path %></li>
          <% end %>
          
          <li><a href="">sass <span class="new badge">4</span></a></li>
          <li><a href="">sass</a></li>
        </ul>
      </div>
    </nav>
    
    <!-- side NAV -->
    <ul id="slide-out" class="side-nav">
      <% if user_signed_in? %><!-- 관리자만의 탭 입력 -->
        <% if current_user.admin %>
          <li><div class="userView">
            <div class="background">
              <img src="background.png">
            </div>
            <a href="#!user"><img class="circle" src="img_admin.png"></a>
            <a href="#!name"><span class="black-text name"><%= current_user.name %> <%= current_user.job %> 님</span></a>
            <a href="#!email"><span class="black-text email"><%= current_user.email %></span></a>
          </div></li>
        <% else %>
          <li><div class="userView">
            <div class="background">
              <img src="background.png">
            </div>
            <a href="#!user"><img class="circle" src="img_user.png"></a>
            <a href="#!name"><span class="black-text name"><%= current_user.name %> 님</span></a>
            <a href="#!email"><span class="black-text email"><%= current_user.email %></span></a>
          </div></li>
        <% end %>
        <li class="item"><%= link_to 'Sign Out', session_path(current_user), method: 'delete' %></li>  <!--     session DELETE /sessions/:id(.:format) sessions#destroy -->
      <% else %>
        <li class="item"><%= link_to 'Sign In', new_session_path %></li>
        <li class="item"><%= link_to 'Sign Up', new_user_path %></li>
      <% end %>
      
      <% if user_signed_in? && current_user.admin %>
        <li><a href="/admin"><i class="material-icons">cloud</i>Admin</a></li>
      <% end %>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      <div class="chip" href="<%=ENV['DEV_ID']%>">
        <img src="<%=ENV['DEV_IMG']%>" alt="Contact Person">
        Han-Byul Kim
      </div>
    </ul>
    
    <script>
      // Initialize collapse button
      $(".button-collapse").sideNav();
      // Initialize collapsible (uncomment the line below if you use the dropdown variation)
      //$('.collapsible').collapsible();
    </script>
  </head>
  
  <body>
    <header>
      
    </header>
    
    <main>
      <%= yield %>
      <div class="progress">
          <div class="indeterminate"></div>
      </div>
      
      
      <div class="preloader-wrapper active" id="preload">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
  
        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
  
        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
  
        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <script>
        $( document ).ready(function() {
          // hide spinner
          $(".progress").hide();
          // show spinner on AJAX start
          $(document).ajaxStart(function(){
            $(".progress").show();
          });
          // hide spinner on AJAX stop
          $(document).ajaxStop(function(){
            $(".progress").delay(3000).hide(0);
          });
        });
      </script>
    </main>
    
    <footer class="page-footer indigo darken-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">설훈 의원실</h5>
            <p class="grey-text text-lighten-4">더불어 민주당</p>
          </div>
          <!--<div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>-->
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        <a class="grey-text text-lighten-4 left" href="<%=ENV['DEV_ID']%>">© 2017 Copyright Han-Byul Kim</a><iframe src="//www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100002353530740&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=60&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:20px;" allowTransparency="true"></iframe>
        <a class="grey-text text-lighten-4 right" href="<%=ENV['DEV_ID']%>"> | honor for DESCENT 5th</a>
        </div>
      </div>
    </footer>
  </body>
  

    
</html>
